.recharts-tooltip-item-separator{
    display: none;
}

.recharts-responsive-container{
    margin-top: -540px;
}

.recharts-default-legend{
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: relative;
    bottom: 269px;
    left: 330px;
}

.recharts-legend-item-text{
    color: #74798C!important;
}


@media (max-width: 1536px) {

.recharts-legend-wrapper{
    left: 16%!important;
    bottom: -30px!important;
  }

}
@media (max-width: 990px) {
.recharts-default-legend {
    left: -200px!important;
}}